set (autostart true)
set (preconditions Platform)


map()
 kv (defaultparams ___array___)
end()
ans(configuration)

map()
 kv (command "USBReset")
 kv (params ___array___)
end()
ans(params)

map()
  kv (name "device")
  kv (value "/dev/bus/usb/001/001")
end()
ans(param)

map_append(${params} params ${param})
map_append(${configuration} defaultparams ${params})
